.description{
    width: porcentaje(328);
    height: 242px;
    margin-left: 16px;
    margin-top: 16px;
    color: aliceblue;
    &__credit{
        width: 100%;
        height: 34px;
    }
}